<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355893417374-orda78e95i9ebuda0a7gpqtp64tad40a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355893417374-orda78e95i9ebuda0a7gpqtp64tad40a</string>
	<key>API_KEY</key>
	<string>AIzaSyD-l4zMsqzLQJLLLmqlUzTmU770y2lttwY</string>
	<key>GCM_SENDER_ID</key>
	<string>355893417374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medstory</string>
	<key>PROJECT_ID</key>
	<string>medstory-c73cf</string>
	<key>STORAGE_BUCKET</key>
	<string>medstory-c73cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355893417374:ios:6e53aba963f73b2bd7328f</string>
</dict>
</plist>